__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
.env.local
.DS_Store
.idea/
.vscode/
outputs/
Research/
frame-processing/pretrained/
logs/
*.log
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.old
*.backup
*.dist-info/
build/
dist/
*.egg-info/
.eggs/
.coverage   
/fine-tuning/checkpoints/
/fine-tuning/output/
/fine-tuning/statistical-test-result
/frame-processing/model_runs/
/bedrock-inference/logs