__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
.env.local
.DS_Store
.idea/
.vscode/
outputs/
Research/
frame-processing/pretrained/
logs/
*.log
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.old
*.backup
*.dist-info/
build/
dist/
*.egg-info/
.eggs/
.coverage   
/fine-tuning/checkpoints/
/fine-tuning/output/
/fine-tuning/statistical-test-result
/frame-processing/model_runs/
/bedrock-inference/logs
slr/articles
slr/articles-processed
slr/d_articles-processed
slr/results
fine-tuning/d_checkpoints
fine-tuning/gpt2
fine-tuning/statistical-test-result-black
utils/output
/slr/analysis-results
/slr/d-analysis-results
/slr/figures
/utils/to_transfer
dicom_staging.db-shm
dicom_staging.db-wal
/chromadb
/utils/metadata_db/angio_run_coded.png

# Images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.svg

# Documents
*.pdf